version: '3.8'
services:
  user_db:
    image: postgres:15
    container_name: user_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user_password
      POSTGRES_DB: user_service_db
    ports:
      - "5432:5432" # Порт для User Service
    volumes:
      - user_data:/var/lib/postgresql/data

  restaurant_db:
    image: postgres:15
    container_name: restaurant_db
    restart: always
    environment:
      POSTGRES_USER: restaurant
      POSTGRES_PASSWORD: restaurant_password
      POSTGRES_DB: restaurant_service_db
    ports:
      - "5433:5432" # Порт для Restaurant Service
    volumes:
      - restaurant_data:/var/lib/postgresql/data

  order_db:
    image: postgres:15
    container_name: order_db
    restart: always
    environment:
      POSTGRES_USER: order
      POSTGRES_PASSWORD: order_password
      POSTGRES_DB: order_service_db
    ports:
      - "5434:5432" # Порт для Order Service
    volumes:
      - order_data:/var/lib/postgresql/data

volumes:
  user_data:
  restaurant_data:
  order_data: